#d1{
    z-index: 1;
    width:100%;
    margin:20px 0 0 200px;
    position: relative;
    overflow: hidden;
    height:200px;
}
#d1 ul{
    margin: 0;
    padding: 0;
}
#d1 ul li{
    float: left;
}
li{
    list-style: none;
    background-color: white;
    width: 160px;
    height: 34px;
    text-align: center;
    margin-right: 2px;
    margin-bottom: 2px;
}
ul li a{
    line-height: 34px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    display: block;
    padding:0 10px;
}
/*二级菜单*/
#d1 ul li ul {
    display: none;
    position:absolute;
    top:34px;
}
#d1 ul li ul li a{
    background-color: rgba(128,0,128,0.7);
    color: white;
    font-size: 15px;
}
.c1{
    background-color: deepskyblue;
    border-radius: 3px;
}
.c2:hover{
    background-color: deepskyblue;
    border-radius: 3px;
}
.c2 a:hover{
    color:white;
}
#d1s1{
    color:blue;
    font-size: 12px;
    line-height: 40px;
    margin-left: 75px;
}
#d1s2{
    color:red;
    font-size: 10px;
    line-height: 40px;
}
.container {
    position: absolute;
    top: 76px;
    left: 1px;
    width: 1520px;
    height: 620px;
}
/*使用绝对定位，使全部图片叠加到一块*/
.box, .box img {
    position: absolute;
    top: 0;
    left: 0;
}
.box img{
    width:1520px;
    height:620px;
}
/*下面小圆点，使用绝对定位，位于图片的正下方*/
.circle {
    width: 200px;
    height: 14px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -100px;
    text-align: center;
    cursor: pointer;
}
/*每个小圆点的样式*/
.circle b {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #000;
    border-radius: 50%;
    margin: 3px;
}
/*小圆点的当前样式，也是鼠标移上去的样式*/
.circle .current {
    background-color: #fff;
}
/*左右两侧的按钮，采用绝对定位*/
.btn {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 50px;
    margin-top: -25px;
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
    line-height: 50px;
    font-size: 50px;
    cursor: pointer;
}
.left {
    left: 0;
}
.right {
    right: 0;
}
#d3{
    width:100%;
    position: relative;
    height:150px;
    border-bottom:1px dashed black;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    margin-top:476px;
    margin-bottom: 0;
    text-align: center;
    font-family: "微软雅黑";
}
#d3 p{
    line-height: 150px;
    font-weight: bold;
    font-size: 25px;
}
#d4{
    width:80%;
    height:400px;
    margin:50px auto 0 auto;
    text-align: center;
}
.t_a{
    color:royalblue;
    text-decoration: none;
}
#b1{
    text-align: center;
    margin:10px auto;
}
th , td{
    width:100px;
    height:20px;
}
.th{
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
    background: url("../imgs/cell1.jpg");
}
.td{
    font-size: 12px;
    color: gray;
    font-family: 微软雅黑;
    background: url("../imgs/cell2.jpg");
}
.tp{
    background: url("../imgs/cell2.jpg");
}
.t_button1{
    background-color: dodgerblue;
    font-size: 12px;
    color: white;
    border: none;
    outline: none;
    width:70px;
    height:25px;
    font-family: 微软雅黑;
    border-radius: 4px;
}
.t_button2{
    background-color: red;
    font-size: 12px;
    color: white;
    border: none;
    outline: none;
    width:70px;
    height:25px;
    font-family: 微软雅黑;
    border-radius: 4px;
}
#d4 p{
    text-align: center;
    margin:10px auto;
}
#submitButton{
    width:50px;
    height:20px;
    outline: none;
    border-radius: 3px;
    border: none;
    background-color: dodgerblue;
    color: white;
    font-size: 12px;
}
#likeBookPage{
    width:50px;
    height:20px;
    outline: none;
    border-radius: 3px;
    border: none;
    background-color: dodgerblue;
    color: white;
    font-size: 12px;
}
#d5{
    width:100%;
    position: relative;
    height:150px;
    border-bottom:1px dashed black;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    margin-top:0;
    margin-bottom: 0;
    text-align: center;
    font-family: "微软雅黑";
}
#d5 p{
    line-height: 150px;
    font-weight: bold;
    font-size: 25px;
}
#b2{
    text-align: center;
    margin:10px auto;
}
#d6{
    width:80%;
    height:400px;
    margin:50px auto 0 auto;
    text-align: center;
}
#d7{
    margin-top: 100px;
    width:100%;
    height:175px;
}
#d7 img{
    width:100%;
    height:175px;
    margin: 0;
    padding: 0;
}
#d8{
    width:100%;
    position: relative;
    height:150px;
    border-bottom:1px dashed black;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    margin-top:0;
    margin-bottom: 0;
    text-align: center;
    font-family: "微软雅黑";
}
#d8 p{
    line-height: 150px;
    font-weight: bold;
    font-size: 25px;
}
#d9 p{
    text-align: center;
    font-size: 15px;
    font-family: "微软雅黑";
}