<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到皖北书城管理系统-管理端</title>
    <script src="../jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../js/adWelcome.js"  th:inline="javascript"></script>
    <link rel="stylesheet" href="../css/adWelcome.css" type="text/css">
</head>
<body>
<div id="head">
    皖 &nbsp;&nbsp;北&nbsp;&nbsp; 书&nbsp;&nbsp; 城&nbsp;&nbsp; 信&nbsp;&nbsp;
    息&nbsp;&nbsp; 管&nbsp;&nbsp; 理&nbsp;&nbsp; 系&nbsp;&nbsp; 统&nbsp;&nbsp;
</div>
<div id="body">
    <div id="bodyLeft">
        <p><input id="book" value = "书 籍 管 理" type="button"></p>
        <p><input id="user" value = "用 户 管 理" type="button"></p>
        <p><input id="info" value = "合 作 信 息" type="button"></p>
    </div>
    <div id="bodyRight">
        <p><input id="updateBook" value="编辑书籍" type="button" class="b_book">
            <input type="button" value="新增书籍" id="insertBook" class="b_book">
            <input id="seachBook" type="text" placeholder="输入书名搜索"><input id="search" type="button" value="搜  索"></p>
        <table border cellpadding="10" cellspacing="0" id="b1">
            <tr><th class="th">书号</th><th class="th" style="width: 125px;">书名</th>
                <th class="th">作者</th><th style="width: 200px;" class="th">简要概述</th>
                <th class="th">价格(元)</th><th class="th">本月销量(册)</th><th class="th">总销量(册)</th>
                <th class="th">操作</th></tr>
        </table>
        <p><input id="top" value="上一页" type="button" class="b_book">
            <input type="text" id="pageNum" style="display: none"><input type="text" id="lastPage" style="display: none">
            <input id="bottom" type="button" value="下一页"  class="b_book"></p>
        <p id="bodyP1">为了您的浏览体验,每页仅显示5条数据</p>
    </div>
</div>
<div id = "updateDiv">
    <span style="color: red;margin-left: -12px;margin-top: 80px">* </span>
    <input type="text" id="bookId" placeholder="请输入书号" class="upInput" style="margin-top: 80px"><br/><br/><br/>
    <input type="text" id="bookName" placeholder="请输入修改后的书名" class="upInput"><br/><br/><br/>
    <input type="text" id="bookAuthor" placeholder="请输入修改后的作者" class="upInput"><br/><br/><br/>
    <input type="text" id="bookMessage" placeholder="请输入修改后的书籍信息" class="upInput"><br/><br/><br/>
    <input type="text" id="bookPrice" placeholder="请输入修改后的书籍价格" class="upInput"><br/><br/><br/>
    <input type="button" id="updateO" class="update" value="确认修改">
    <p style="color: palevioletred;font-size: 12px">温馨提示：以上内容不填,表示数据不进行修改</p>
</div>
<div id = "insertDiv">
    <span style="color: red;margin-left: -12px;margin-top: 50px">* </span>
    <input type="text" id="bookName_1" placeholder="请输入书名" class="upInput" style="margin-top: 50px"><br/><br/>
    <span style="color: red;margin-left: -12px">* </span><input type="text" id="bookAuthor_1" placeholder="请输入作者" class="upInput"><br/><br/>
    <input type="text" id="bookMessage_1" placeholder="请输入书籍简介" class="upInput"><br/><br/>
    <input type="text" id="bookPrice_1" placeholder="请输入书籍价格" class="upInput"><br/><br/>
    <input type="text" id="mouth_sales" placeholder="请输入书籍月销量" class="upInput"><br/><br/>
    <input type="text" id="all_sales" placeholder="请输入书籍总销量" class="upInput"><br/><br/>
    <input type="text" id="people" placeholder="具体给某个用户展示" class="upInput"><br/><br/>
    <input type="button" id="updateT" class="update" value="确认添加">
    <p style="color: palevioletred;font-size: 12px">温馨提示：以上内容不填,表示数据为空</p>
</div>
</body>
</html>