<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到皖北书城管理系统-我的丛书</title>
    <link rel="stylesheet" href="css/mybooks.css" type="text/css">
    <script src="jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/mybooks.js"  th:inline="javascript"></script>
</head>
<body>
<div id="d1">
    <ul>
        <li class="c2"><a href="/welcome">书城首页</a>
            <ul>
                <span></span><br/>
                <li><a href="/welcome#d4a1">书城介绍</a></li><br/>
                <li><a href="/welcome#d5a1">部分书籍展示</a></li><br/>
                <li><a href="/welcome#d7a1">商务合作</a></li>
            </ul>
        </li>
        <li class="c1"><a href="#" style="color: white;">我的丛书</a>
            <ul>
                <span></span><br/>
                <li><a href="#d3">丛书列表</a></li><br/>
                <li><a href="#d5">我的书架</a></li><br/>
                <li><a href="#d7">数据统计</a></li>
            </ul>
        </li>
        <li class="c2"><a href="/mallSelling">商城热卖</a>
            <ul>
                <span></span><br/>
                <li><a href="/mallSelling#d2">热卖图书</a></li>
            </ul>
        </li>
        <li class="c2"><a href="/guessLike">猜你喜欢</a>
            <ul>
                <span></span><br/>
                <li><a href="/guessLike#d2">猜你喜欢</a></li>
            </ul></li>
        <li class="c2"><a href="/personalCenter">个人中心</a></li>
        <li class="c2"><a href="/feedback">反馈建议</a></li>
    </ul>
    <span id="d1s1">站长邮箱：</span><span  id="d1s2">yangjinlong@zhuojianchina.com</span>
</div>
<div class="container">
    <div class="box">
        <img src="imgs/background1.jpg">
        <img src="imgs/background2.jpg">
        <img src="imgs/background3.jpeg">
        <img src="imgs/background4.jpg">
        <img src="imgs/background5.jpg">
        <img src="imgs/background6.jpg">
    </div>
    <div class="circle">
        <b class="current"></b>
        <b></b>
        <b></b>
        <b></b>
        <b></b>
        <b></b>
    </div>
    <div class="btn left"> &lt; </div>
    <div class="btn right"> &gt; </div>
</div>
<div id="d3">
    <p>我的丛书列表</p>
</div>
<div id="d4">
    <table border cellpadding="10" cellspacing="0" id="b1">
        <tr><th class="th" style="width: 125px;">书名</th><th class="th">作者</th><th style="width: 200px;" class="th">简要概述</th>
            <th class="th">价格(元)</th><th class="th">本月销量(册)</th><th class="th">总销量(册)</th>
            <th class="th">操作</th></tr>
    </table>
    <p><span style="font-size:10px;color: gray;">为了您的浏览体验,当前每页仅显示5条数据,当前页为 &nbsp;</span>
        <span id="pageNo" style="color:red;font-size: 12px;"></span></p>
    <p><span style="font-size:10px;color: gray;line-height: 20px;">您希望跳转到第&nbsp;<input type="text" id="wantPageNo" style="width: 16px;height: 12px;">&nbsp;页
    </span> &nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="确 定" id="submitButton"></p>
</div>
<div id="d5">
    <p>我的书架</p>
</div>
<div id="d6">
    <table border cellpadding="10" cellspacing="0" id="b2">
        <tr><th class="th" style="width: 125px;">书名</th><th class="th">操作</th></tr>
    </table>
    <p><span style="font-size:10px;color: gray;">为了您的浏览体验,当前每页仅显示5条数据,当前页为 &nbsp;</span>
        <span id="pageNum" style="color:red;font-size: 12px;"></span></p>
    <p><span style="font-size:10px;color: gray;">您的书架中一共有书籍数为 &nbsp;</span>
        <span id="total" style="color:red;font-size: 12px;"></span></p>
    <p><span style="font-size:10px;color: gray;line-height: 20px;">您希望跳转到第&nbsp;<input type="text" id="wantPageNum" style="width: 16px;height: 12px;">&nbsp;页
    </span> &nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="确 定" id="likeBookPage"></p>
</div>
<div id="d7">
    <img src="imgs/swhz.jpg">
</div>
<div id="d8">
    <p>数 据 统 计</p>
</div>
<div id="d9">
    <p>经统计您的丛书中藏书为<span id="books" style="color:red;font-size: 12px;"></span>本</p>
    <p>经统计您的书架中爱书有<span id="loveBooks" style="color:red;font-size: 12px;"></span>本</p>
    <p>经统计您的待购买的书有<span id="buyBooks" style="color:red;font-size: 12px;"></span>本</p>
    <p>系统会根据您的喜好，给你推荐更加优质的图书，敬请期待！</p>
</div>
</body>
</html>