<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到皖北书城管理系统-用户端</title>
    <link rel="stylesheet" href="css/welcome.css" type="text/css">
    <script src="jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/tourist.js"></script>
</head>
<body>
<div id="d1">
    <ul>
        <li  class="c1"><a href="#" style="color: white;">书城首页</a>
            <ul>
                <span></span><br/>
                <li><a href="#d4a1">书城介绍</a></li><br/>
                <li><a href="#d5a1">部分书籍展示</a></li><br/>
                <li><a href="#d7a1">商务合作</a></li>
            </ul>
        </li>
        <li class="c2"><a href="#">我的丛书</a>
            <ul>
                <span></span><br/>
                <li><a href="#">丛书列表</a></li><br/>
                <li><a href="#">我的收藏</a></li><br/>
                <li><a href="#">数据统计</a></li>
            </ul>
        </li>
        <li class="c2"><a href="#">商城热卖</a>
            <ul>
                <span></span><br/>
                <li><a href="#">热卖图书</a></li>
            </ul>
        </li>
        <li class="c2"><a href="#">猜你喜欢</a></li>
        <li class="c2"><a href="#">个人中心</a></li>
        <li class="c2"><a href="#">反馈建议</a></li>
    </ul>
    <span id="d1s1">站长邮箱：</span><span  id="d1s2">yangjinlong@zhuojianchina.com</span>
</div>
<div class="container">
    <div class="box">
        <img src="imgs/background1.jpg">
        <img src="imgs/background2.jpg">
        <img src="imgs/background3.jpeg">
        <img src="imgs/background4.jpg">
        <img src="imgs/background5.jpg">
        <img src="imgs/background6.jpg">
    </div>
    <div class="circle">
        <b class="current"></b>
        <b></b>
        <b></b>
        <b></b>
        <b></b>
        <b></b>
    </div>
    <div class="btn left"> &lt; </div>
    <div class="btn right"> &gt; </div>
</div>
<div id="d3">
    <p id="d4a1">书 城 介 绍</p>
</div>
<div class="d4" style="margin-left: 15px;">
    <p>图书馆外饰</p>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1952年建馆，截至2015年底，皖北图书馆藏有中外文献5500余万册（件）。<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;皖北图书馆是一个研究型公共图书馆，建于1952年7月，原位于南京西路325号。<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;据图书馆官网2015年9月信息显示，上海图书馆藏中外文献5400余万册（件），
        其中古籍善本、碑帖尺牍、名人手稿、家谱方志、西文珍本、唱片乐谱、近代报刊及专利标准尤具特色。
        建筑面积总计12.7万平方米，拥有各类阅览室、学术活动室、报告厅、展览厅等空间。
        以历史文献最具特色，包括古籍170万册（件），碑帖拓片15万件，名人手札约10万件。<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;古籍中包括善本2.5万余种，17万册，其中宋元刻本300余种，唐、五代以前写经224余种。
        在专类收藏方面，有1949年以前编纂的历代地方志约5400种、家谱1.8万余种（342个姓氏），
        朱卷（包括会试卷、乡试卷及贡卷）8000余种。在这些珍贵的馆藏中，有国家一级文物700种，
        二级文物1300种。最早的藏品《维摩诘经》距今已有1400年的历史。<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国名人手稿馆还收藏了清末以来的文化名人信函、日记、题词、图片、珍稀文献等5万多件，
        其中巴金等文化名人的手稿正被逐步数字化。</span>
</div>
<div class="d4"><img src="imgs/d4.png"></div>
<div class="d4"><img src="imgs/d42.jpg"></div>
<div class="d4">
    <p>图书馆内饰</p>
    <span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1952年建馆，截至2015年底，皖北图书馆藏有中外文献5500余万册（件）。<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;皖北图书馆（新馆）位于成都市青羊区人民西路与西华门街东北夹角，2009年正式开建。
        新馆占地17亩，建筑面积约5.2万平方米，是旧馆的3倍多，建成开放后将成为西南地区最大的图书馆。
        新馆建筑风格为新古典主义，外形酷似汉代宫殿门阙，象征着四川的悠久历史，这也源于新馆选址紧邻原成都皇城所在。
        新馆高38米，外观呈暖灰色，增加了历史厚重感。<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;皖北图书馆是中国最早建立的公共图书馆之一（1912年建立），经过90年的发展建设，
        四川省图书馆是国际图联的成员馆和世界银行资料存放馆、在全国具有重要地位、
        在西部具有带动和示范作用的大型综合性公共图书馆，拥有高、中级专业技术人员90余人。
        四川省图书馆是全省的总书库，馆藏丰富独特，拥有460万册藏书。最具特色的部分有：隋唐时代的手写经卷、
        宋元明清著名文人重要诗词集、历代四川珍贵地方志书、中国古代医学典籍、近代文化名人手稿、民国暨抗战时期文献等，
        共计70余万册。建国以后，四川省图书馆分别以呈缴本、选购、国内外交换、捐赠与调拨、复制等手段，逐步建立了以大型综合性、
        研究级人文学科为基础的工具书和核心文献体系。
    </span>
</div>
<div id="d5">
    <p id="d5a1">部分书籍展示</p>
</div>
<div id="d6">
    <div id="div4">
        <div id="div2">
            <img src="imgs/book1.jpg" class="imgslb"/>
            <img src="imgs/book2.jpg" class="imgslb"/>
            <img src="imgs/book3.jpg" class="imgslb"/>
            <img src="imgs/book4.jpeg" class="imgslb"/>
            <img src="imgs/book5.jpg" class="imgslb"/>
            <img src="imgs/book6.jpg" class="imgslb"/>
            <img src="imgs/book7.jpg" class="imgslb"/>
            <img src="imgs/book8.jpg" class="imgslb"/>
            <img src="imgs/book9.jpg" class="imgslb"/>
            <img src="imgs/book10.jpg" class="imgslb"/>
        </div>
        <div id="div3"></div><!--这个容器是用来防止图片滚动时会出现空白的区域-->
    </div>
</div>
<div id="d7">
    <p id="d7a1">商 务 合 作</p>
</div>
<div id="d8">
    <img src="imgs/swhz.jpg">
</div>
<div id="d9">
    <p>如果您有以下之一的需求，欢迎与我司合作，欢迎您的光临。</p>
        <div class="d9c1"><span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我想将我的著作书籍放到该图书馆展示或出版该书籍,请问我可以得到什么帮助？
        </span><br/><br/><input type="button" value="出版书籍"  name="button1" id="button1"></div>
        <div class="d9c1"><span>&nbsp;&nbsp;&nbsp;&nbsp;我想在该图书馆投放属于我的个人广告,请问我可以得到什么帮助？
        </span><br/><br/><input type="button" value="广告洽谈"  name="button2" id="button2"></div>
        <div class="d9c1"><span>&nbsp;&nbsp;&nbsp;&nbsp;我想在该图书馆找到一份属于我的工作,请问我可以得到什么帮助？
        </span><br/><br/><input type="button" value="我要应聘"  name="button3" id="button3"></div>
</div>
<div id="d10">
    <p></p><br/>
    <p>皖北书城管理系统：致力于打造世界上最具特色的互联网书城网站。感谢相遇，感谢支持。</p>
    <p><a href="#">返回顶部</a> <a href="/index">退出登录</font></a></p>
</div>
</body>
</html>